#MainScreen {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .puzzle-container {
    display: flex;
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);

    height: 90vh;
    min-width: 0;
    margin: 1vw;

    h3 {
      margin-bottom: 1rem;
      text-align: center;
      font-family: sans-serif;
    }
  }

  .pieces-pool {
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    height: 90vh;
    margin: 1vw;

    .pieces-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }

  .puzzle-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .grid {
      display: grid;
      background: rgba(255, 255, 255, 0.05);
      gap: 1px;
    }

    .grid-cell {
      background: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  .puzzle-piece {
    width: 135px;
    height: 135px;
    cursor: grab;
    transition: transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    &:hover {
      transform: scale(1.05);
      z-index: 10;
    }

    &:active {
      cursor: grabbing;
    }

    &.locked {
      cursor: default;

      &:hover {
        transform: none;
      }

      &:active {
        cursor: default;
      }
    }
  }

  // Adjust piece size when in grid to fill the cell
  .grid-cell .puzzle-piece {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;

    &:hover {
      transform: none;
    }
  }
}